@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer components {
  .primary-dark {
    @apply bg-stone-950 text-white 
  }
  .secondary-dark {
    @apply bg-stone-900 text-white border-slate-300
  }
  .trinary-dark {
    @apply bg-stone-800 text-white border-slate-300
  }
  .primary-light {
    @apply bg-stone-50 text-black
  }
  .secondary-light {
    @apply bg-stone-100 text-black
  }
  .trinary-light {
    @apply bg-stone-200 text-black
  }
  .navbar-hover {
    @apply transition-all duration-150 text-stone-600 p-2 flex flex-col gap-2 hover:py-4 md:group-hover:items-start items-center border-slate-500 hover:border-b-2 hover:trinary-dark w-full
  }
  .button-child {
    @apply flex flex-row items-center gap-2 transition-all duration-150 hover:text-stone-300
  }
}